@page
@model SampleWebApp.Pages.Utilities.DataDecodeModel
@{
}
<form method="post">
    <label>Prompt:</label>
    <textarea name="TextInput" class="form-control mb-1" rows="10" >@Model.TextInput</textarea>
    <button class="btn btn-sm btn-primary">Generate Text</button>
</form>