@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <h1 class="text-center display-4">Welcome</h1>
    @*
        <p>
            Key: @User.Claims.FirstOrDefault(c=>c.Type == "Nai.AccessKey")?.ToString();
        </p>
        <p>
            Token: @User.Claims.FirstOrDefault(c => c.Type == "Nai.AccessToken")?.Value?.ToString();
        </p>
    *@
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <h2 class="text-center">Examples</h2>
            <h3><small>API Status</small></h3>
            <ul>
                <li><a href="~/Examples/GetApiEndpointStatus">API Endpoint Status</a></li>
                <li><a href="~/Examples/GetImageApiEndpointStatus">Image API Endpoint Status</a></li>
            </ul>
            <h3><small>Generation</small></h3>
            <ul>
                <li><a href="~/Examples/GenerateAsync">Generate Async</a></li>
                <li><a href="~/Examples/GenerateVoice">Generate Voice</a></li>
                <li><a href="~/Examples/GenerateImage">Generate Image (may cost Anlas)</a></li>
            </ul>
            <h3><small>User Account</small></h3>
            <ul>
                <li><a href="~/Examples/GetUserAccountInformation">Get User Account Information</a></li>
                <li><a href="~/Examples/GetUserPriority">Get User Priority</a></li>
                <li><a href="~/Examples/GetUserData">Get User Data</a></li>
                <li><a href="~/Examples/GetUserSubscription">Get User Subscription Information</a></li>
            </ul>
            <h3><small>User Stories</small></h3>
            <ul>
                <li><a href="~/Examples/GetModules">Get Modules</a></li>
                <li><a href="~/Examples/GetPresets">Get Presets</a></li>
                <li><a href="~/Examples/GetShelf">Get Shelf</a></li>
                <li><a href="~/Examples/GetStories">Get Stories</a></li>
                <li><a href="~/Examples/GetStoryContent">Get Story Content</a></li>
            </ul>
        </div>
        <div class="col">
            <h2 class="text-center">Utilities</h2>
            <h3><small>Authentication Utilities</small></h3>
            <ul>
                <li><a href="~/Utilities/AuthGetKeystore">Get Keystore</a></li>
            </ul>
            <h3><small>Token Utilities</small></h3>
            <ul>
                <li><a href="~/Utilities/DataDecode">Decode Data String</a></li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>
